{% extends 'main/layout.html' %}

{% block title %}
О прокате
{% endblock %}

{% block content %}
<div class="features_two">
    <h1><i class="bi bi-signpost-split"></i> Информация </h1><br>
    <h1>О нас</h1>
<h5>Время работы в Гомеле с 10:00 до 22:00 без выходных <br>
Время работы в Минске с 15:00 до 23:00 без выходных</h5><br>
    <h1> О доставке </h1>
    <h5>Вы можете самостоятельно забрать приставку из точки самовывоза или заказать доставку курьером по городу.</h5>
    <br>
    <h1>Контакты и адреса самовывоза</h1>
    <h5>Адрес: г. Гомель, ул. Огоренко 13 (остановка "Улица Огоренко").
<h5> Номера: +375(44)5505588
         +375(44)5509090 </h5>
<h5>Адрес: г. Минск, Метро "Борисовский тракт"</h5>
<h5>Номера: +375(29)6561844</h5>

<h5>Email: gamestargomel@gmail.com</h5></h5>

</div>
{% endblock %}
