{% extends 'main/layout.html' %}

{% block title %} Условия проката {% endblock %}

{% block content %}
<div class="features">
<h1><i class="bi bi-house"></i>Условия проката</h1><br>
    <h4> При заключении договора при себе необходимо иметь действующий паспорт гражданина Республики Беларусь</h4><br>
  <h4>1.На момент заключения договора вам должно исполниться 18 лет</h4><br>
  <h4>2.Мы вправе взимать залог за предоставляемое в аренду имущество</h4><br>
  <h4>3.Мы вправе отказать в аренде без объяснения причин</h4>
</div>
{% endblock %}

