{% extends 'main/layout.html' %}

{% block title %} Сделать заказ {% endblock %}

{% block content %}
<div class="features">
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Заказ успешно оформлен</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Спасибо за ваш заказ, совсем скоро с вами свяжется наш сотрудник</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="{% url 'about' %}"><button type="button" class="btn btn-primary">Хорошо</button></a>
      </div>
    </div>
  </div>
    </div>
{% endblock %}